body {
	background-color:#953168;
}

a:link,a:visited {
	color: #CCCC88;
	text-decoration: none;
}

a:hover {
	color: #FFFF88;
	text-decoration: none;
}


ul.tabs {
	list-style:none;
}

li.tabs {
	margin-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	list-style:none;
	width: 65px;
	line-height: 30px;
	white-space: nowrap;
}

a.tabs:link,a.tabs:visited {
	display: block;
	border: none;
	text-align:center;
	text-indent: 0px;
	text-decoration: none;
	font-family: tahoma;
	font-size: 12px;
	color: DDDDCC;
	background: url(./images/tabsnrm.jpg)  no-repeat;
}

a.tabs:hover {
	display: block;
	border: none;
	text-align:center;
	text-decoration: none;
	font-family: tahoma;
	font-size: 12px;
	color: DDDDCC;
	background: url(./images/tabsovr.jpg)  no-repeat;
}

a.imglink {
	color: #CCCC88;
}

span.highlight {
	background-color: #E070AD;
	color: #FFFF88;
}

code {
	display: block;
	text-indent: 0px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #FF7F9D;
	color: #FF7F9D;
}

ul.button {
	list-style:none;
}

li.button {
	padding-right: 0px;
	list-style:none;
	float: right; 
	width: 105px;
	line-height: 33px;
	white-space: nowrap;
}

a.button:link,  a.button:visited, a.button:hover {
	display: block;
	border: none;
	text-align:center;
	text-indent: 0px;
	text-decoration: none;
	font-family: tahoma;
	font-size: 12px;
	color: #DDDDCC;
	background: url(./images/button.jpg)  no-repeat;
}

div#page {
	text-indent: 25px;
	text-align:right;
	font-family: tahoma;
	font-size: 14px;
	color: #FF7F9D;
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

table#image {
	text-align: justify;
	font-family: tahoma;
	font-size: 12px;
	color: #FF7F9D;
	width: 50px;
}

textarea {
	font-family: tahoma;
	font-size: 12px;
	width : 92%;
}

input {
	font-family: tahoma;
	font-size: 12px;
}

select {
	font-family: tahoma;
	font-size: 12px;
	width: 124px;
}

.mybutton {
	font-family: tahoma;
	font-size: 12px;
	color: #DDDDCC;
	border: none;
	background: url(./images/button.jpg);
	width: 110px;
	height: 32px;
	cursor: hand;
}

h1 {
	text-align:none;
	font-family: tahoma;
	font-size: 17px;
	color: #FF7F9D;
	padding-left: 30px;
	padding-right: 30px;
}

hr {
	color: #FF7F9D;
}

li.page {
	font-size:13px;
	font-weight: bold;
	color: #FF7F9D;
}

p#edit {
	text-align:center;
	font-size:smaller;
}

p.footer {
	text-align: center;
	font-family: tahoma;
	font-size: 10px;
	color: #FF7F9D;
}

table#mainbody {
	border-collapse: collapse;
	background-color: #4A1834;
	width: 80%;
}

table#dialog {
	border-collapse: collapse;
	background-color: #4A1834;
	width: 390px;
}

table#dialogtable {
	border-collapse: collapse;
	border: none;
	background: none;
	font-family: tahoma;
	font-size: 12px;
	color: #FF7F9D;
	width: 70%;
}

table#installtable {
	border-collapse: collapse;
	border: 1px solid #FF7F9D;
	background: none;
	font-family: tahoma;
	font-size: 12px;
	color: #FF7F9D;
	width: 400px;
}

.upload {
	font-family: tahoma;
	font-size: 12px;
	width: 190px;
}

div.search {
	margin-left: 30px;
	margin-right: 30px;
	}

.searchedit {
	height: 24px;
}

.bodytop {	
	background-position: right;
	background-repeat: none;
	height: 60px;
}

.bodybottom {	
	background-position: left;
	background-repeat: none;
	height: 40px;
}

.dialogtop {	
	background-position: right;
	background-repeat: none;
	height: 60px;	
}

.dialogbottom {	
	background-position: left;
	background-repeat: none;
	height: 20px;	
}